@import './Navbar.scss';
@import './ShoppingCart.scss';
@import './SingleItem.scss';
@import './Variables.scss';


* {
    margin: 0;
    padding: 0;
}

.category {
    @include flex(row, space-around, center);

    border-bottom: 1px solid grey;


    button {

        outline: none;
        background-color: white;
        padding: 10px;
        width: 150px;
        @include border(1px solid $headerBg,2px)
    }
}

.all-product {
    @include flex(row, space-around, center);
    flex-wrap: wrap;
    margin-top: 50px;

    div {
        @include heightWidth(500px,500px);
        margin-top: 25px;

        @include flex(column, space-between, center);

        img {
            @include heightWidth(200px,200px);


        }

        .link {
            text-decoration: none;
            color: $color;

            &:hover {
                color: grey;
            }

            &:active {
                color: black;
            }
        }

        .product-category {
            i {
                color: grey;
            }
        }
    }
}

.add-button {
    @include border(1px solid $headerBg,5px);
    background-color: $color;
    @include paddingMargin(10px,0 0 10px 0);
    color: black;
    width: 100px;

    &:hover {
        color: white;
        cursor: pointer;

    }
}

@media (max-width:768px) {
    .category {
        @include flex(column, center, center);
        width: 100%;

    }

    .all-product {
        div {
            img {
                @include heightWidth(100px,100px);
            }

            h3 {
                width: 100px;
                text-align: center;
            }
        }
    }
}