@import './Variables.scss';

.shopping-cart {
    @include flex(column, space-between, center);

    .total-of-all-product {
        background-color: $color;
        color: white;
        @include paddingMargin(10px,10px 0 0 0);
        @include border(none,5px)
    }

    .product-in-cart {
        @include flex(row, space-between, center);
        border-bottom: 1px solid grey;

        img {
            @include heightWidth(100px,100px);
        }

        p {
            width: 150px;
        }

        .cart-button {
            @extend .total-of-all-product;
            width: 100px;
            margin: 0 5px 0 5px;
            

            &:hover {
                background-color: white;
                color: $color;
                border: 1px solid $color;
                cursor: pointer;
            }

        }

       
    }
}

@media (max-width:768px) {
    .shopping-cart {
        @include flex(column, center, center);

        .product-in-cart {
            @include flex(column, space-between, center);
            margin-top: 50px;
            border: none;

           
            .cart-button{
                margin: 10px 0 10px 0;
            }
            p {
                margin-top: 10px;
                text-align: center;
            }
            b{
                margin-top: 10px;
                
            }

        }

    }
}