@import './Variables.scss';


.shopping-cart{
    @include flex(column,space-between,center);
    .total-of-all-product{
        background-color: $color;
        padding: 5px;
        border-radius: 5px;
        color: white
    }
    .product-in-cart{
        @include flex(row,space-between,center);
        
        // width: 900px;
        img{
           height: 100px;
           width: 100px;
       }
       p{
        width: 150px;
       }
       .cart-button{
        background-color:$color;
            width: 100px;
            border: none;
            padding: 10px;
            border-radius: 5px;
            color: white;

       }
       div{
        @include flex(column,center,center);
        width: 100px;
         
       }
    }
}

@media (max-width:768px) {
    .shopping-cart{
        @include flex(column,center,center);

        .product-in-cart{
            @include flex(column,space-between,center);
            margin-top: 50px;
            button{
                margin-top: 10px;
            }
            
        }
        p{
            margin-top: 20px;
            text-align: center;
        }
    }
}