@import './Variables.scss';

.single-item{
    @include flex(column,space-between,center);
    height: 620px;
    border:1px solid grey;
   
    figure{
      
        img{
            height: 200px;
        }
        
    }
    .rate{
        @include flex(column,center,center)
    }
     .description{
        margin: 0;
        width: 300px;
        
     }
     .price-category{
        @include flex(row,justify-content,center);
        p{
            margin-left: 10px;
        }
     }
    .link{
       text-decoration: none;
    }

}