
$headerBg:rgb(248,248,248);
$color:rgb(44, 127, 130);

@mixin flex($direction,$content,$align) {
    display: flex;
    flex-direction: $direction;
    justify-content:$content ;
    align-items:$align ;
}